<div class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-12 offset-lg-0">
    <mat-card class='categories-label'>
      <mat-card-content>
        <h1 class='text-center'>Categorías</h1>
        <div class="arrow-container text-center hover" *ngIf='onlyName' (click)='hideCategories = !hideCategories'>
          <mat-icon>
            {{ hideCategories ? "arrow_drop_up" : "arrow_drop_down" }}
          </mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-container *ngIf='!hideCategories'>
    <div class="col-12">
      <div class="row">
        <div *ngFor='let category of categories;let o=odd' class="hover category-container col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3"
          [ngClass]='o ? "" : "offset-md-1 offset-lg-0"'>
          <app-menu-category-overview [category]='category' [onlyName]='onlyName'></app-menu-category-overview>
        </div>
      </div>
    </div>
  </ng-container>
</div>
