@import 'src/_colors';

.container-fluid {
  // background-color: #d3d3d3;
  /* Full height */
  height: 100%;
  min-height: 850px;
  /* The image used */
  background-image: url("/assets/bg.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 114px;
  padding-bottom: 15px;

}

.sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.1);
  background-color: $primary-light;
}
