<div class="row">
  <div class="col-12 col-sm-6 col-md-4 mb-2">
    <!-- CATEGORIES LIST -->
    <app-menu-categories-list [categories]='categories'></app-menu-categories-list>
    <hr>
    <!-- SEARCH PRODUCT INPUT -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>
            Buscar producto
          </h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h6>
          <mat-form-field class='full-width'>
            <input matInput type="text" [formControl]='searchCtrl'>
          </mat-form-field>
        </h6>
      </mat-card-content>
    </mat-card>
    <hr>
    <!-- FEATURED LIST -->
    <app-menu-featured [listView]='true'></app-menu-featured>
  </div>
  <div class="col-12 col-sm-6 col-md-8">
    <div class="row">
      <div class="col-12 mb-2">
        <!-- SELECTED CATEGORY -->
        <mat-card>
          <h1 class='text-center selected-category'>
            <span class='selected-category-name'>{{ category | capitalize }}</span>
          </h1>
        </mat-card>
      </div>
      <!-- PRODUCTS PRESENTATION -->
      <div class="col-12">
        <!-- IF THERE ARE PRODUCTS AFTER LOADED -->
        <ng-container *ngIf='products;else loadingProducts'>
          <app-menu-products [products]='products'></app-menu-products>
        </ng-container>
        <!-- LOADING PRODUCTS -->
        <ng-template #loadingProducts>
          <mat-spinner class="mx-auto "></mat-spinner>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div class="shopping-cart-container">
  <button mat-icon-button type='button' class='action-button bg-primary' [matMenuTriggerFor]='shoppingCartMenu'>
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <mat-menu class='shoppingCartMenu' #shoppingCartMenu="matMenu" xPosition='after' yPosition='below'>
    <button disabled mat-menu-item class='menu-subheader'>Carrito</button>
    <app-shopping-cart-overview></app-shopping-cart-overview>
  </mat-menu>
</div>
