<form #f='ngForm' (ngSubmit)='onSubmit(f)'>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Actualizar {{ service.className | lowercase }}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf='object as product;else loadingObject'>
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-4 offset-lg-1">
            <mat-form-field>
              <input matInput type="text" placeholder='Nombre' [ngModel]='product.name' name='name' required [readonly]='f.submitted'>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder='Descripción' [ngModel]='product.description' name='description' [readonly]='f.submitted'>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder='Precio' [ngModel]='product.price' name='price' required [readonly]='f.submitted'>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder='Costo' [ngModel]='product.cost' name='cost' required [readonly]='f.submitted'>
            </mat-form-field>
            <mat-form-field *ngIf='categories;else loadingCategories'>
              <mat-select placeholder='Categoría' [ngModel]='product.category' name='category' [compareWith]='categoryCompareWith' required
                [disabled]='f.submitted'>
                <mat-option *ngFor='let category of categories' [value]='category'>{{ category.name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <ng-template #loadingCategories>
              <mat-spinner class="mx-auto col-12"></mat-spinner>
            </ng-template>
          </div>
          <div class="col-12 col-sm-6 col-lg-6 offset-lg-1 text-center my-2">
            <app-upload [fileURL]='product.imageURL | showImage'></app-upload>
            <input type="text" placeholder='Image URL' [ngModel]='product.imageURL' name='imageURL' class='d-none'>
          </div>
        </div>
      </ng-container>
      <ng-template #loadingObject>
        <mat-spinner class="mx-auto col-12"></mat-spinner>
      </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type='submit' [disabled]='f.invalid || f.submitted'>Actualizar</button>
      <button mat-button type='button' routerLink='../../' [disabled]='f.submitted'>Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>