.mat-column-id {
  width: 10%;
}
.mat-column-reg_date {
  width: 15%;
}
.mat-column-name {
  width: 15%;
}
.mat-column-email {
  width: 15%;
}
.mat-column-phone {
  width: 15%;
}
.mat-column-role {
  width: 15%;
}
.mat-column-actions {
  width: 15%;
}