<div class="row">
  <div class="col-12">
    <mat-card class="bg-primary" style='display:inline-block'>
      <h4>Catálogo</h4>
    </mat-card>
  </div>
  <div class="col-12">
    <!-- CATALOGO CONTENT -->
    <div class="row">
      <div *ngFor='let catalogItem of catalog; even as isEven' class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 mb-3">
        <!-- [ngClass]='isEven ? "offset-lg-2" : ""' -->
        <mat-card class='mb-3'>
          <mat-card-content class="text-center">
            <h2>{{ catalogItem.category.name }}</h2>
          </mat-card-content>
        </mat-card>
        <div class="row">
          <div class='col-12 col-sm-6 mb-1' *ngFor='let flavor of catalogItem.flavors'>
            <mat-card style='height:100%'>
              <mat-card-header>
                <mat-card-title>
                  {{ flavor.name }}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                {{ flavor.description }}
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>