.mat-card {
  height: 100%;
  .mat-card-header {
    height: 115px;
  }
  .mat-card-content {
    height: 450px;

    .product-image-container {
      height: 350px;
      // margin-right: -24px;
      // margin-left: -24px;
      .product-image {
        height: 295px;
      }
      .product-category {
        margin-top: 5px;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 0px;
        .category-label {
          font-weight: bold;
        }
        .category-name {
          color: black !important;
        }
      }
    }

    .form-container {
      height: 90px;
      margin-top: 10px;
      text-align: center;
      .product-amount {
        // width: 100%;
      }
    }
  }
  .mat-card-actions {
    height: 50px;
  }
}
