<mat-card class="product-overview mat-elevation-z0">
  <mat-card-header>
    <mat-card-title>
      <h5>{{ product.name }}</h5>
    </mat-card-title>
    <mat-card-subtitle>
      <h6>
        {{ product.price | currency }}
      </h6>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="product-image-container text-center">
      <img class='product-image img-fluid' src="{{ product.imageURL | showImage }}" [alt]="product.name">
      <h6 *ngIf='!byCategory' class='product-category'>
        <span class="category-label">Categoría : </span>
        <span class='category-name'> {{ product.category.name }} </span>
      </h6>
    </div>
    <div class="form-container">
      <div class="amount-buttons row mb-3">
        <div class="col-12 col-sm-6">
          <button mat-button type="button" (click)='amount = amount-1' [disabled]='amount < 1'>Menos</button>
        </div>
        <div class="col-12 col-sm-6">
          <button mat-button type="button" (click)='amount = amount+1'>Mas</button>
        </div>
      </div>
      <mat-form-field class='product-amount'>
        <input matInput type="number" placeholder="Cant." [(ngModel)]='amount' min='0'>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions align='end'>
    <button mat-button type='button' (click)='addProduct()' [disabled]='amount < 1'>Agregar</button>
  </mat-card-actions>
</mat-card>
