<div class="toolbar-container">
  <mat-toolbar #toolbar>
    <div class="logo">
      <img id='app-logo' src="assets/images/logo.png" alt="logo" class="img-fluid">
    </div>
    <span class="spacer"></span>
    <div class="actions">
      <button mat-raised-button type='button'>ORDENAR</button>
      <button mat-icon-button type='button'>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
<div class="images-container">
  <div class="img-container"></div>
</div>