@import "src/_colors";
.mat-icon-bottom {
  margin-top: 22px;
  .mat-icon {
    vertical-align: bottom;
  }
}
.action-button {
  color: #fff;
  border-radius: 50px;
  width: 65px;
  height: 65px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
