<div class="row">
  <div class="col-12 offset-0 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mb-3">
    <mat-card class='bg-primary' style='display:inline-block'>
      <h4>Contacto</h4>
    </mat-card>
  </div>
  <div class="col-12 col-sm-10 offset-sm-1 col-md-4 offset-md-1 col-lg-4 offset-lg-2 mb-3">
    <mat-card class="bg-primary text-center">
      <h5>
        Encuentranos en VapeCrew!
        <br> Centro Comercial Ilusión, Calle el Jabali, Ciudad Merliot
        <br>
        <br> Teléfono
        <br>
        <i class="material-icons">phone</i> (503) 7259-2438
      </h5>
    </mat-card>
    <br>
    <mat-card class="bg-primary text-center">
      <mat-card-header style='display:inline-block'>
        <mat-card-title>
          <h4 class='text-center'>Horario de Entregas</h4>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <b>Lunes:</b> 8am-7pm
        </p>
        <p>
          <b>Martes:</b> 8am-7pm
        </p>
        <p>
          <b>Miercoles:</b> 8am-7pm
        </p>
        <p>
          <b>Jueves:</b> 8am-7pm
        </p>
        <p>
          <b>Viernes:</b> 8am-4pm
        </p>
        <p>
          <b>Sábado:</b> 9:30am-11:30am / 3pm-5pm
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-sm-10 offset-sm-1 col-md-6 col-lg-4 offset-md-0">
    <form #f='ngForm' (ngSubmit)='onSubmit(f)'>
      <mat-card class="bg-primary text-center">
        <mat-card-content>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" ngModel name='name' required>
          </div>
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" class="form-control" ngModel name='email' required email>
          </div>
          <div class="form-group">
            <label for="phone">Teléfono</label>
            <input type="text" class="form-control" ngModel name='phone' required>
          </div>
          <div class="form-group">
            <label for="message">Mensaje</label>
            <textarea rows='5' class="form-control" ngModel name='message' required></textarea>
          </div>
        </mat-card-content>
        <mat-card-actions align='end'>
          <button type='button' mat-button class='bg-primary' [disabled]='f?.invalid'>Enviar</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
<!-- <br>
<div class="row">
  <div class="col-12 offset-sm-3 col-sm-6 offset-md-3 col-md-6">
    
  </div>
</div> -->