<form #f='ngForm' (ngSubmit)='onSubmit(f)'>
  <h2 mat-dialog-title>Registrarse</h2>
  <mat-dialog-content>
    <!-- <div class="row"> -->
    <!-- <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto text-center"> -->
    <mat-form-field>
      <input matInput type="text" placeholder='Nombre' [(ngModel)]='register.name' name='name' required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder='Usuario' [(ngModel)]='register.username' (blur)='prepareUsername($event.target.value)' name='username' required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder='Correo electrónico' [(ngModel)]='register.email' name='email' required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder='Contraseña' [(ngModel)]='register.password' name='password' required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder='Confirmar contraseña' [(ngModel)]='confirmPassword' name='confirmPassword' required
        [pattern]='register.password'>
    </mat-form-field>
    <!-- </div> -->
    <!-- </div> -->
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type='submit' [disabled]='f.invalid || f.submitted'>Registrarse</button>
    <button mat-button mat-dialog-close [disabled]='f.submitted'>Cancelar</button>
  </mat-dialog-actions>
</form>
