<form #f='ngForm' (ngSubmit)='onSubmit(f)'>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Agregar {{ service.className | lowercase }}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" placeholder='Nombre' [(ngModel)]='user.name' name='name' required [readonly]='f.submitted'>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder='Teléfono' [(ngModel)]='user.phone' name='phone' required [readonly]='f.submitted'>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder='Correo electrónico' [(ngModel)]='user.email' name='email' required [readonly]='f.submitted'>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder='Rol' [(ngModel)]='user.role' name='role' required [disabled]='f.submitted'>
          <mat-option *ngFor='let role of roles | async' [value]='role'>{{ role.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder='Contraseña' [(ngModel)]='user.password' name='password' required [readonly]='f.submitted'>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type='submit' [disabled]='f.invalid || f.submitted'>Agregar</button>
      <button mat-button type='button' routerLink='../' [disabled]='f.submitted'>Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>
